/* taille du site */
html,
body {
  height: 100%;
  overflow-y: hidden;
}

/* definir une police pour l'ensemble du document */
@font-face {
  font-family: "Barlow";
  src: url("Barlow/Barlow-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Barlow", sans-serif;
}

/* header */
.header {
  position: fixed;
  left: -20px;
  top: -20px;
  height: 130px;
  width: 2000px;
  background-color: #423d36;
}
#title {
  color: #000000;
  font-size: 2em;
  position: fixed;
  left: 720px;
  top: -20px;
}
.elburger {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: 0.5s ease;
}
.burger-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
}
.elburger ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.elburger a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #616161;
  display: block;
  transition: 0.3s;
}
.elburger a:hover {
  color: #000000;
}
.elburger.active {
  right: 0;
}
.elburger.close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
div.burger-icon {
  display: block;
  background-color: black;
  margin: 6px 0;
}

/* h3 {
  width: 33px;
  height: 4px;
  background-color: antiquewhite;
} */

#openBtn {
  position: fixed;
  right: 20%;
  top: 0;
}
.burgerMenu input:checked ~ .elburger {
  opacity: 0;
  right: -100%;
}
.number {
  color: hsl(0, 0%, 0%);
  font-size: 2em;
  position: fixed;
  left: 20px;
  top: -20px;
  opacity: 0;
  z-index: 7;
}
.revealnumber {
  opacity: 1;
}

/*images */
.mountain {
  position: absolute;
  bottom: 0;
  left: 0;
}
.Zepellin {
  position: fixed;
  top: 180px;
  left: 770px;
  z-index: 5;
}
.startFlag {
  position: absolute;
  top: 298px;
  left: 439px;
}
.finalFlag {
  position: absolute;
  top: 230px;
  left: 5615px;
}

/* clouds */
.cloud1 {
  z-index: 0;
  position: absolute;
  top: 300px;
  left: 600px;
}
.cloud2 {
  z-index: 0;
  position: absolute;
  top: 200px;
  left: 320px;
}
.cloud3 {
  z-index: 0;
  position: absolute;
  top: 250px;
  left: 1000px;
}
.cloud4 {
  z-index: 0;
  position: absolute;
  top: 220px;
  left: 1300px;
}
.cloud5 {
  z-index: 0;
  position: absolute;
  top: 180px;
  left: 1550px;
}
.cloud6 {
  z-index: 0;
  position: absolute;
  top: 350px;
  left: 1800px;
}
.cloud7 {
  z-index: 0;
  position: absolute;
  top: 200px;
  left: 2200px;
}
.cloud8 {
  z-index: 0;
  position: absolute;
  top: 350px;
  left: 2400px;
}
.cloud9 {
  z-index: 0;
  position: absolute;
  top: 220px;
  left: 2900px;
}
.cloud10 {
  z-index: 0;
  position: absolute;
  top: 400px;
  left: 3300px;
}
.cloud11 {
  z-index: 0;
  position: absolute;
  top: 300px;
  left: 3800px;
}
.cloud12 {
  z-index: 0;
  position: absolute;
  top: 180px;
  left: 4000px;
}
.cloud13 {
  z-index: 0;
  position: absolute;
  top: 250px;
  left: 4300px;
}
.cloud14 {
  z-index: 0;
  position: absolute;
  top: 150px;
  left: 4980px;
}
.cloud15 {
  z-index: 0;
  position: absolute;
  top: 220px;
  left: 5290px;
}
.cloud16 {
  z-index: 0;
  position: absolute;
  top: 350px;
  left: 5500px;
}

/* content flag */
.flag {
  position: absolute;
  opacity: 1;
  /* z-index: 2; */
}
.firstProjectFlag {
  top: 298px;
  left: 1898px;
}
.secondProjectFlag {
  top: 468px;
  left: 2358px;
}
.thirdProjectFlag {
  top: 230px;
  left: 2692px;
}
.firstPresentationFlag {
  top: 298px;
  left: 3358px;
}
.secondPresentationFlag {
  top: 410px;
  left: 3855px;
}
.firstContactFlag {
  top: 357px;
  left: 5152px;
}

.content {
  opacity: 0;
  transition-duration: 1s;
  display: none;
  z-index: 100;
}
/* on definit le format du contenu dans les montagnes jaunes */
.yellowcontent {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 700px;
  position: absolute;
  opacity: 80%;
  border: solid;
  border-color: #000000;
  border-radius: 1%;
  border-width: 4px;
  z-index: 5;
  flex-direction: column;
  text-align: center;
}
.firstProjectDescription {
  top: -150px;
  left: 400px;
  justify-content: space-evenly;
  flex-direction: column;
}
.secondProjectDescription {
  top: -320px;
  left: -750px;
  justify-content: space-evenly;
  flex-direction: column;
}
.thirdProjectDescription {
  top: -80px;
  left: -600px;
  justify-content: space-evenly;
  flex-direction: column;
}
/* contenu des projets */
#TitlefirstProject {
  justify-content: flex-start;
}
.VideofirstProject {
  transform: scale(-260px);
}

/* on définit le format du contenu dans les montagnes bleues */
.bluecontent {
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  border: solid;
  border-color: #000000;
  border-radius: 1%;
  border-width: 4px;
  z-index: 5;
  flex-direction: column;
  text-align: center;
}
.firstPresentation {
  top: -150px;
  left: 100px;
  width: 500px;
  height: 700px;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
}
#ImagefirstPresentation {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}
.secondPresentation {
  top: -260px;
  left: 200px;
  width: 935px;
  height: 700px;
  position: absolute;
}

/* contenu presentation */

/* ondéfinit le format du contenu dans les montagnes vertes */
.greencontent {
  background-color: rgb(255, 255, 255);
  width: 1200px;
  height: 300px;
  position: absolute;
  opacity: 80%;
  border: solid;
  border-color: #000000;
  border-radius: 1%;
  border-width: 4px;
  z-index: 5;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.firstContact {
  top: 100px;
  left: -700px;
}
/* contenu des contacts */
.Contactimages {
  justify-content: space-around;
}

/* instructions */
#directionTexte {
  position: absolute;
  bottom: 100px;
  left: 900px;
  z-index: 10;
  opacity: 70%;
}

#directionImage {
  position: absolute;
  bottom: 100px;
  left: 720px;
  z-index: 9;
  opacity: 70%;
}
